.button {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color:var(--accent-text-color);
    
    margin: 0px;
    border-width: 0px;
    
    padding: 10px 32px;
    border-radius: 4px;
           
    cursor: pointer;

    transition: background-color var(--animation);
  

    &:hover,
    &:focus {
    background-color: var(--bg-accent-col);
  }
  

   &__footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 28px 10px 29px;
    margin-left: 12px;
    border: 1px solid var(--accent-text-color);
  
    background-color: var(--accent-text-color);
  
    transition: background-color var(--animation);
  
    @media screen and (max-width: 1199.98px) {
      margin: auto;
      margin-top: 20px;
    }
  }
     
 
  &__icon {
    fill: currentColor;
    margin-left: 10px;
  }

  &__form {
    display: block;
    margin: auto;
  }
}