/*--modal-form--*/

.modal-form {
  content: "";


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 370px;

    width: 100%;
    @media screen and (min-width: 320px) and (max-width: 479.98px) {
      min-width: 240px;
    }
  
    @media screen and (min-width: 479.98px) {
      max-width: 450px;
    }
  
    @media screen and (min-width: 1199.98px) {
      min-width: 448px;
    }
  }
  
  &__label,
  &__element {
    display: block;
    width: 100%;
  }
  
  &__element + &__element {
    margin-top: 10px;
  }

  
  
  &__heading {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
  
  &__label {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
  }
  
  
  &__input {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: calc(12px + 18px + 12px);
    padding-right: 12px;
  
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black-color);
    letter-spacing: 0.01em;
  
    outline-color: var(--bg-accent-col);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color-for-modal);
    transition: border-color var(--animation);
  
 }  
  
  &:focus {
    border-color: var(--accent-text-color);
  }
 

  &__field {
    position: relative;
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    transition: fill var(--animation);
  }
  
  
  &__input:focus + &__icon {
    fill: var(--accent-text-color);
  }

  &__input--textarea {
    padding: 11px 15px;
    resize: none;
    overflow: hidden;
    height: 120px;
  }
  
  &__input--textarea::placeholder {
    color: var(--modal-form__input--textarea);
  }
}

/*--modal-button--*/

  .modal-button__close {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: transparent;
    color: var(--title-text-color);
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    transition: color var(--animation), border-color var(--animation) 250ms;
 
    

    &:hover,
    &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}   

  .modal-button__icon {
    fill: currentColor;
  }
    
  /*---checkbox--*/
  
  .checkbox {
    
    margin-top: 20px;
    margin-bottom: 30px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.14;
  
    
  
    color: var(--primery-text-color);

    @media screen and (min-width: 320px) and (max-width: 479.98px) {
      text-align: center;
    }
  
    @media screen and (min-width: 1199.98px) {
      text-align: center;
      font-size: 14px;
    }
  
  
  
  &__label {
    position: relative;
    
    cursor: pointer;
    padding-left: calc(7px + 16px);
  }
  
  &__visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border-radius: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
   &__icon {
    position: absolute;
  
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  
    border-width: 2px;
    border-style: solid;
    border-color: var(--bg-accent-color);
    background-color: transparent;
    border-radius: 2px;
    fill: none;
  
    transition: fill var(--animation), background-color var(--animation), border-color var(--animation);
  }
  
  &__input:checked + &__icon {
    background-color: var(--accent-text-color);
    fill: var(--white-color);
    border: none;
    outline-color: var(--accent-text-color);
  }
  
  &__input:hover + &__icon,
  &__input:focus + &__icon {
    border-color: var(--accent-text-color);
    outline-color: var(--accent-text-coloror);
  }
  
  &__link {
   
    color: var(--accent-text-color);
    text-decoration: underline;
    transition: color var(--animation);
    
    @media screen and (min-width: 320px) and (max-width: 479.98px) {
      display: block;
    }
  
    @media screen and (min-width: 1199.98px) {
      display: inline-block;
      margin-left: 2px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--bg-accent-col);
    outline-color: currentColor;
  }
} 
  
  