:root {

--text-font: "Montserrat";
--title-font: "Caveat Brush";

--container-width: 1200px;

--primary-text-color: #2E2520;
--title-text-color: #2E2520;
--background-color: # FFFFF9;
--second-background-color: #FEF3E4;
--button-text-color: #FFFFFF;
--button-border-text-color: #000000;
--button-background-color: #AB816C;
--base-icon-color: #2E2520;
--second-icon-color: #674D40;
--location-icon-color: #000000;
--star-icon-color: #AB816C;
--form-lines-color: #AB816C;
--registration-border-color: #000000;
--menu-background-color: #FEF3E4;
--menu-link-current-text-color: #876655;

--white-color: # FFFFFF;

--program-card-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
--registration-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
--form-placeholder-color:  rgba(171, 129, 108, 0.5);

--grid-num: 2; 

}
