/* Service */


.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 767.98px) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-width: 611px;
  }
  @media screen and (min-width: 1199.98px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-right: 8px;

    @media screen and (min-width: 320px) and (max-width: 390px) {
      &:nth-last-child(-n + 3) {
        margin-top: 15px;
      }
    }

    @media screen and (max-width: 767.98px) {
      &:nth-last-child(-n + 2) {
        margin-top: 15px;
      }
    }
  }

  &__item:nth-child(5n) {
    margin-right: 0px;
  }
}
     
.filter__button {
    border-style: none;
    border: 0px solid #f5f4fa;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-text-color);
    background-color: #f5f4fa;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
  
    box-shadow: var(--transparent-color);
  
    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-text-color);
    box-shadow: var(--button-shadow);
  }
}