 /* Team */

 .team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  
  
  &__item {

    display: flex;
    flex-direction: column;
    align-items: center;

    
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
  }
  
    --grid-num: 1;

    @media screen and (min-width: 768px) {
      --grid-num: 2;
    }
    @media screen and (min-width: 1200px) {
      --grid-num: 4;
    }
  
    
  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: inherit;
    
    color: var(--title-text-color);
  }
  
  &__position {
    font-size: 16px;
    line-height: 1.18;    
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    color: var(--primery-text-color);
  }
    

  &__card {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
  }

    
}  

  .section--bg {
    background-color: var(--section-bg-color);
  }
